<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/CompetitiveBidding.css}">
    <script th:src="@{/static/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/static/js/bootstrap.js}"></script>
    <script th:src="@{/static/js/CompetitiveBidding.js}"></script>
    <title>竞标项目</title>
</head>
<body id = "body">
    <div th:replace="pages/front/component/nav::navbar(userRoleId=${session.userRoleId})"></div>
    <div class="container" id = "Content">
        <div id = "main" style="margin-bottom:200px;">
            <form th:action="@{/pages/front/addNewBidding}">
                <input type="hidden" th:value="${projectId}" name="projectId">
                <p style="font-size: 25px; font-weight: 600;">竞标项目:</p><p id="project_name">竞标</p>
                <div class="AreaDiv">
                    <p class = "AreaTitle">*工期与预算</p>
                    <div id = "BudgetPeriod">
                        <div id = "Period">
                            <script>
                                 function checkNum (val) {
                                    var r = /^\+?[1-9][0-9]*$/;　　//正整数
                                    let flag = r.test(val);
                                    let obj = document.getElementsByName('ProjectPeriod')[0];
                                    if (!flag) {
                                        obj.value = 0;
                                    }
                                }
                            </script>
                            <input type="number" onchange="checkNum(this.value)" name = "projectPeriod" autocomplete="off" placeholder="您期望多长时间完成，默认：可商议" minlength="1" maxlength="3" class="form-control">
                        </div>
                        <div id = "PeriodLabelDiv">
                            <label class = "PeriodLabel PeriodLabelSelected"><span>天</span></label>
                            <label class = "PeriodLabel"><span></span></label>
                        </div>
                        <input type="text" name = "projectAmout" class="form-control input-large" id = "Budget" placeholder="预估价格">
                        <span style="position: absolute; right: 10px;">￥</span>
                    </div>
                </div>
                <dic class="AreaDiv">
                    <div class="AreaTitle">*竞标优势</div>
                    <textarea name = "projectSuperiority" class="form-control" rows="10" autocomplete="off" placeholder="请简要描述自身的竞标优势"></textarea>
                </dic>
                <dic class="AreaDiv">
                    <div class="AreaTitle">*竞标案例</div>
                    <textarea name = "biddingExample" class="form-control" rows="10" autocomplete="off" placeholder="请简要说明曾经开发过的项目案例"></textarea>
                </dic>
                <div class="AreaDiv">
                    <p class = "AreaTitle">*联系方式</p>
                    <div style="display: flex;">
                        <input type="text" name="userEmployeeName" autocomplete="off" placeholder="请输入姓名" maxlength="30" minlength="2" class="form-control" style="margin-right: 20px;">
                        <input type="text" name="userEmployeeTel" autocomplete="off" placeholder="请输入手机/电话号码" maxlength="11" minlength="11" class="form-control" style="margin-left: 20px;">
                    </div>
                </div>
                <div id = "SubmitButton">
                    <input type="submit" class="btn btn-primary btn-block" value="立即发布"/>
                    <p>点击保存或发布按钮，表示您已确认并同意<a href="#">《开源众包平台项目竞标协议及规则》</a></p>
                </div>
            </form>
        </div>
        <div id = "advert">
            <div class="AdvertDiv"><a href = "#"><img th:src="@{/static/images/ad1.jpg}"></a></div>
            <div class="AdvertDiv"><a href = "#"><img th:src="@{/static/images/ad2.jpg}"></a></div>
            <div class="AdvertDiv"><a href = "#"><img th:src="@{/static/images/ad3.jpg}"></a></div>
            <div class="AdvertDiv"><a href = "#"><img th:src="@{/static/images/ad4.jpg}"></a></div>
        </div>
    </div>
    <div th:replace="pages/front/component/footer::footer"></div>
</body>
