<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/EmployeeScheme.css}">
    <script th:src="@{/static/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/static/js/bootstrap.js}"></script>
    <title>我的竞标方案</title>
</head>

<body>
    <div th:replace="pages/front/component/nav::navbar(userRoleId=${session.userRoleId})"></div>
    <div class="container" style="display: flex;">
        <div th:replace="pages/front/component/EmployeeDeskSideBar.html::DeskSideBar(Content='方案')"></div>
        <div id = "detail">
            <div class = "DetailHeader">
                <div class="title">我的方案</div>
            </div>
            <div class="content">
                <div class = "SchemeItem" th:each="Scheme:${Schemes}">
                    <div class = "SchemeItemState" th:text="${Scheme.biddingStatus}">
                        竞标中
                    </div>
                    <div class="SchemeItemIcon">
                        <div class="SchemeItemIconAvatar">
                            <a href="#">
                                <img th:src="@{/static/images/avatar_default.gif}">
                            </a>
                        </div>
                    </div>
                    <div class="SchemeItemPerson">
                        <p class = "PersonName" th:text="${Scheme.projectName}">服务外包网站编写</p>
                        <p>联系人：<span th:text="${Scheme.userEmployeeName}">jmh</span></p>
                        <p>电话：<span th:text="${Scheme.userEmployeeTel}">12345678911</span></p>
                    </div>
                    <div class = "SchemeItemProject">
                        <div class="SchemeItemBudgetTime">
                            <div class = "ProjectInfo">
                                <p>￥<span th:text="${Scheme.projectAmout}">10000</span></p>
                                <span>报价 ( 元 ) </span>
                            </div>
                            <div class = "ProjectInfo">
                                <p th:text="${Scheme.projectPeriod}">30</p>
                                <span>工期 ( 天 ) </span>
                            </div>
                        </div>
                        <button class="btn MoreInfo" th:if="${Scheme.biddingStatus == '竞标中'}">
                            <span>查看详情</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="pages/front/component/footer::footer"></div>
</body>

</html>