<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/EmployeeOrder.css}">
    <script th:src="@{/static/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/static/js/bootstrap.js}"></script>
    <title>我的订单</title>
</head>

<body>
    <div th:replace="pages/front/component/nav::navbar(userRoleId=${session.userRoleId})"></div>
    <div class="container" style="display: flex;">
        <div th:replace="pages/front/component/EmployeeDeskSideBar.html::DeskSideBar(Content='订单')"></div>
        <div id = "detail">
            <div class = "DetailHeader">
                <div class="title">我的订单</div>
            </div>
            <div class="content">
                <div class = "SchemeItem" th:each="Item:${EmployeeOrders}">
                    <div class = "SchemeItemState" th:text="${Item.orderState}">
                        未付定金
                    </div>
                    <div class="SchemeItemIcon">
                        <div class="SchemeItemIconAvatar">
                            <a href="#">
                                <img th:src="@{/static/images/avatar_default.gif}">
                            </a>
                        </div>
                    </div>
                    <div class="SchemeItemPerson">
                        <p class = "PersonName" th:text="${Item.projectName}">服务外包网站编写</p>
                        <p>发布方联系人：<span th:text="${Item.connectName}">jmh</span></p>
                        <p>电话：<span th:text="${Item.connectTel}">12345678911</span></p>
                        <p>承包方联系人：<span th:text="${Item.userEmployeeName}">hzw</span></p>
                        <p>电话：<span th:text="${Item.userEmployeeTel}">12345678911</span></p>
                        <p class = "SchemeTime">
                            生成时间: <span th:text="${#dates.format(Item.orderStartTime,'yyyy-MM-dd HH:mm:ss')}">2020-11-13 11:18</span>
                        </p>
                    </div>
                    <div class = "SchemeItemProject">
                        <div class="SchemeItemBudgetTime">
                            <div class = "ProjectInfo">
                                <p th:text="${Item.orderAmount}">￥10000</p>
                                <span>报价 ( 元 ) </span>
                            </div>
                            <div class = "ProjectInfo">
                                <p th:text="${Item.schedule}">30</p>
                                <span>工期 ( 天 ) </span>
                            </div>
                            <div class = "ProjectInfo">
                                <p th:text="${Item.employeeDeposit}">￥1000</p>
                                <span>定金 ( 元 ) </span>
                            </div>
                        </div>
                        <div th:switch="${Item.orderState}">
                            <button class="btn MoreInfo" th:case="未付定金">
                                <a th:href="@{/pages/front/Pay(orderId=${Item.orderId},PayType='Deposit')}">支付定金</a>
                            </button>
                            <button class="btn MoreInfo" th:case="承包方未付定金">
                                <a th:href="@{/pages/front/Pay(orderId=${Item.orderId},PayType='Deposit')}">支付定金</a>
                            </button>
                            <button class="btn MoreInfo" th:case="进行中">
                                <a th:href="@{/pages/front/EmployeeFinishOrder(orderId=${Item.orderId})}">确认完成</a>
                            </button>
                            <button class="btn MoreInfo" th:case="发布方确认完成订单">
                                <a th:href="@{/pages/front/EmployeeFinishOrder(orderId=${Item.orderId})}">确认完成</a>
                            </button>
                            <button class="btn MoreInfo" th:case="订单完成">
                                <a th:href="@{/pages/front/EvaluationPage(orderId=${Item.orderId})}">评价发布方</a>
                            </button>
                            <button class="btn MoreInfo" th:case="发布方已评价">
                                <a th:href="@{/pages/front/EvaluationPage(orderId=${Item.orderId})}">评价承包方</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="pages/front/component/footer::footer"></div>
</body>

</html>