<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id = "sidebar" th:fragment="EmployerSideBar">
        <ul class="SideBarList">
            <li class="ItemTitle"><h5>资料设置</h5></li>
            <li class="SideBarItem SideBarItemSelected"><a href="">基本信息</a></li>
            <li class="SideBarItem"><a href="">实名认证</a></li>
            <li class="SideBarItem"><a href="">账号绑定</a></li>
        </ul>
    </div>
</body>
</html>