<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/footer.css">
    <script src="./js/jquery-3.4.1.js"></script>
    <script src="./js/bootstrap.js"></script>
    <title>Bootstrap</title>
</head>
<body>
    <footer id="footer" th:fragment="footer">
        <p style="font-weight: 600; font-size: 18px;">服务与支持</p>
        <p style="font-weight: 600; font-size: 24px;">400-8982-008</p>
        <p>周一至周日 08:00-23:00</p>
        <p>官方接包QQ群：<span style="font-weight: 600; font-size: 18px;">666666666</span></p>
        <p>官方邮箱：<span style="font-weight: 600; font-size: 18px;">ZBStation@gmail.com</span></p>
        <div class = "container FooterBottom">
            <p style="float:left; font-size: 20px; font-weight: 600; margin-right: 30px;">众包小站</p>
            <p style="float:left">让软件开发更加快捷、高效</p>
            <p style="float:right">Copyright©2021 众包小站平台</p>
        </div>
    </footer>
</body>
