@import "nav";

#body {
    background-color: rgb(249, 250, 253);

    ul {
        list-style: none;
        padding-inline-start: 0px;
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    #Content {
        display: flex;
    }

    #main {
        width: 850px;
        background-color: white;
        // border: 1px black solid;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
        padding: 15px;
    }

    #advert {
        width: 320px;
        margin-left: 30px;
        .AdvertDiv {
            width: 100%;
            margin-bottom: 20px;
    
            img {
                width: 100%;
            }
        }
    }

    .AreaTitle {
        font-size: 16px;
        font-weight: 700;
        color: #151519;
        line-height: 40px;}

    .AreaDiv {
        margin-bottom: 22px;
    }

    #BudgetPeriod {
        display: flex;
        align-items: center;
        position: relative;

        #Period {
            flex: 1;
        }

        #PeriodLabelDiv {
            position: relative;
        }

        .PeriodLabel {
            position: relative;
            top: 3px;
            width: 40px;
            height: 34px;
            text-align: center;
            float: left;
            cursor: pointer;

            span {
                line-height: 34px;
                margin: 0;
                font-weight: normal;
            }
        }

        .PeriodLabelSelected {
            background-color: #1890ff;
            color: #fff;
        }

        .PeriodRadio {
            overflow: hidden;
            height: 0;
            width: 0;
        }

        #Budget {
            flex: 1;
        }
    }

    #SubmitButton {
        margin-top: 40px;
        button {
            background-color: #1890ff;
            border: 1px solid #1890ff;
            color: #fff;
        }
        p{
            margin-top: 20px;
            text-align: center;
        }
    }

    #footer {
        background-color: black;
        height:240px;
        text-align: center;
        padding-top: 20px;
        p{
            color: white;
        }
        #bottom{
            border-top: 1px solid #4c4c53;
            position: relative;
            background-color: black;
            p{
                margin: 0px;
                line-height: 30px;
            }
        }
    }
}