@import "nav";
@import "sidebar";
@import "footer";

#body {
    background: #fefefe;
    padding-bottom: 350px;
    position: relative;
    height: 100%;
    min-height: 100vh;

    a {
        text-decoration: none;
    }
}

#detail {
    margin: 0px 10px;
    width: 80%;
    background: #fff;
    box-shadow: 0 0 5px 1px #efebeb;
    border-radius: 3px;

    .DetailHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #efefef;

        .title {
            height: 45px;
            line-height: 45px;
            padding: 0 0 0 16px;
            font-size: 16px;
            font-weight: 700;
        }

        .Modify {
            display: flex;
            cursor: pointer;

            .icon {
                width: 25px;
                height: 25px;
            }

            span {
                margin: 0px 20px 0px 8px;
                line-height: 25px;
                display: flex;
            }
        }
    }

    .content {
        padding: 30px;
        display: flex;
        justify-content: space-between;

        .DetailTable {
            display: flex;
            border: 0;
            width: 580px;
            margin: 0;

            tbody {
                width: 100%;
            }

            td {
                border: 1px solid transparent;
                width: 80%;
                word-break: break-all;
                word-wrap: break-word;
                white-space: inherit;
            }

            .TableItemName {
                width: 20%;
                text-align: right;
            }
        }

        .avatar {
            display: flex;
            flex: 0 0 auto;
            width: 130px;
            height: 130px;
            clip-path: circle();
        }
    }
}