@import "nav";
@import "footer";

#body {
    background: #fefefe;
    //用于给footer定位
    padding-bottom: 400px;
    position: relative;
    height: 100%;
    min-height: 100vh;

    // 内容快
    #Content {
        display: flex;
    }


    // 左侧主要内容快
    #main {
        width: 850px;
        background-color: white;
        // border: 1px black solid;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
        padding: 15px;
    }

    // 每一块区域的内容
    .AreaDiv {
        margin-bottom: 22px;
    }

    // 每一块区域的标题
    .AreaTitle {
        font-size: 16px;
        font-weight: 700;
        color: #151519;
        line-height: 40px;
    }


    #SelectType {
        padding-left: 15px;
    }

    .ClientSupport {
        padding-left: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .ClientSupportDiv {
        display: flex;
        margin: 0px 5px;

        p {
            margin: 0px 5px;
            font-weight: normal;
        }
    }

    .ProjectName {
        padding-left: 15px;
        margin: 0;
        box-shadow: none;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }

    .ProjectRequirement {
        // width: 100%;
        padding-left: 15px;
        word-break: break-all;
        // word-wrap: break-word;
        // white-space: inherit;
    }

    #SkillDiv {
        position: relative;

        .SkillsRequirement {
            // width: 100%;
            padding-left: 15px;
            word-break: break-all;
            // word-wrap: break-word;
            // white-space: inherit;
        }
    }

    #BudgetPeriod {
        height: 30px;
        padding-left: 15px;

        @BudgetWidth:200px;
        .Budget,
        .Period {
            float: left;
            margin: 0;
            width: @BudgetWidth;
            height: 30px;

            p {
                font-size: 16px;
                height: 30px;
                line-height: 30px;
                margin: 0px;
                float: left;
            }
        }

        .Period {
            position: relative;
            left: 50%;
            margin-left: -@BudgetWidth;
        }
    }

    .Connection {
        height: 30px;
        padding-left: 15px;

        @ConnectionWidth:300px;
        .ConnectName,
        .ConnectTel {
            float: left;
            margin: 0;
            width: @ConnectionWidth;
            height: 30px;

            p {
                font-size: 16px;
                height: 30px;
                line-height: 30px;
                margin: 0px;
                float: left;
            }
        }

        .ConnectTel {
            position: relative;
            left: 50%;
            margin-left: -@ConnectionWidth;
        }
    }

    #SubmitButton {
        margin: 40px 0px 20px;

        button {
            background-color: #1890ff;
            border: 1px solid #1890ff;
            color: #fff;
        }

        .btn-refuse{
            background-color: #ff3b30;
            border: 1px solid #ff3b30;
        }
    }

    #person {
        width: 400px;
        background-color: white;
        // border: 1px black solid;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
        padding: 15px;
        margin-left: 30px;
        // width: ;
        .DetailTable {
            caption{
                color: #151519;
                font-size: 20px;
                font-weight: 600;
                text-align: center;
            }

            border: 0;
            width: 100%;
            margin: 0;

            td {
                color: #151519;
                border: 1px solid transparent;
                // width: 80%;
                word-break: break-all;
                word-wrap: break-word;
                white-space: inherit;
            }

            .TableItemName {
                width: 30%;
                text-align: right;
            }
        }
    }
}