#myBar {
  border-radius: 0px;
}
#myBar ul {
  list-style: none;
  padding-inline-start: 0px;
  margin: 0;
}
#myBar a {
  text-decoration: none;
}
#myBar .nav-title {
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: white;
}
#myBar .nav-list a {
  font-size: 16px;
  color: white;
}
@media (min-width: 768px) {
  #myBar .nav-list {
    height: 60px;
    display: flex;
    align-items: center;
  }
}
#myBar .nav-list li {
  display: flex;
  margin: 0px 6px;
}
#myBar .nav-list .icon {
  width: 32px;
  height: 20px;
}
#myBar .nav-list-left {
  margin-left: 40px;
}
#myBar .nav-list-right {
  margin-left: 40px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  #myBar .nav-list-right {
    float: right;
    margin: 0px;
  }
}
#myBar .nav-list-right .Message {
  position: relative;
  width: 30px;
  animation: HaveMessage 1.5s infinite;
}
#myBar .nav-list-right .Message sup {
  position: absolute;
  top: 0px;
  left: 22px;
  background-color: #ff3b30;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  padding: 0 6px;
  text-align: center;
  white-space: nowrap;
}
@keyframes HaveMessage {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
#myBar .btn-group a {
  color: black;
}
#myBar .btn-group .RoleMenu {
  right: 0px;
  left: unset;
  padding: 0px;
}
#myBar .btn-group .RoleMenu .SelectedRole {
  border-left: 4px solid #1890ff;
  margin: 0;
}
#myBar .avatar {
  position: absolute;
  top: -10px;
  width: 40px;
  height: 40px;
  clip-path: circle();
}
body {
  background: #fefefe;
  padding-bottom: 350px;
  position: relative;
  height: 100%;
  min-height: 100vh;
}
#footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: black;
  height: 240px;
  text-align: center;
  padding-top: 20px;
}
#footer p {
  color: white;
}
#footer .FooterBottom {
  border-top: 1px solid #4c4c53;
  position: relative;
  background-color: black;
}
#footer .FooterBottom p {
  margin: 0px;
  line-height: 30px;
}
#body {
  background: #fefefe;
  padding-bottom: 400px;
  position: relative;
  height: 100%;
  min-height: 100vh;
}
#body #Content {
  display: flex;
}
#body #main {
  width: 850px;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  padding: 15px;
}
#body .AreaDiv {
  margin-bottom: 22px;
}
#body .AreaTitle {
  font-size: 16px;
  font-weight: 700;
  color: #151519;
  line-height: 40px;
}
#body #SelectType {
  padding-left: 15px;
}
#body .ClientSupport {
  padding-left: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#body .ClientSupportDiv {
  display: flex;
  margin: 0px 5px;
}
#body .ClientSupportDiv p {
  margin: 0px 5px;
  font-weight: normal;
}
#body .ProjectName {
  padding-left: 15px;
  margin: 0;
  box-shadow: none;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}
#body .ProjectRequirement {
  padding-left: 15px;
  word-break: break-all;
}
#body #SkillDiv {
  position: relative;
}
#body #SkillDiv .SkillsRequirement {
  padding-left: 15px;
  word-break: break-all;
}
#body #BudgetPeriod {
  height: 30px;
  padding-left: 15px;
}
#body #BudgetPeriod .Budget,
#body #BudgetPeriod .Period {
  float: left;
  margin: 0;
  width: 200px;
  height: 30px;
}
#body #BudgetPeriod .Budget p,
#body #BudgetPeriod .Period p {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  margin: 0px;
  float: left;
}
#body #BudgetPeriod .Period {
  position: relative;
  left: 50%;
  margin-left: -200px;
}
#body .Connection {
  height: 30px;
  padding-left: 15px;
}
#body .Connection .ConnectName,
#body .Connection .ConnectTel {
  float: left;
  margin: 0;
  width: 300px;
  height: 30px;
}
#body .Connection .ConnectName p,
#body .Connection .ConnectTel p {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  margin: 0px;
  float: left;
}
#body .Connection .ConnectTel {
  position: relative;
  left: 50%;
  margin-left: -300px;
}
#body #SubmitButton {
  margin: 40px 0px 20px;
}
#body #SubmitButton button {
  background-color: #1890ff;
  border: 1px solid #1890ff;
  color: #fff;
}
#body #SubmitButton .btn-return {
  background-color: #c1c1c1;
  border: 1px solid #c1c1c1;
}
#body #advert {
  width: 320px;
  margin-left: 30px;
}
#body #advert .AdvertDiv {
  width: 100%;
  margin-bottom: 20px;
}
#body #advert .AdvertDiv img {
  width: 100%;
}
