<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/static/js/jquery-3.4.1.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/login.css}">
    <script th:src="@{/static/js/bootstrap.js}"></script>
    <script th:src="@{/static/js/login.js}"></script>

    <title>登录</title>
</head>

<body>
    <div id="Background">
        <div class = "ImageDiv" id = "ImageDiv0">
            <img th:src="@{/static/images/background7.jpg}" id = "BackgroundImage0"  class = "BackgroundImage">
        </div>
    </div>
<!--    <div th:text="${errMessage}"></div>-->
    <div id = "LoginDiv">
        <form name="loginForm" class="form-horizontal" role="form" id = "UserForm" th:action="@{/pages/front/login}">
            <div class="form-group">
              <label class="col-sm-3 control-label">用户名</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name = "userName" placeholder="请输入用户名">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">密码</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" name="password" placeholder="请输入密码">
              </div>
            </div>
            <div style="text-align: center; margin-bottom: 15px;">
                <p id = "message" th:text="${errMessage}"><br></p>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-3">
                    <button type="button" class="btn btn-default" id = "Login" th:onclick="return login()">登录</button>
                </div>
                <div class="col-sm-offset-2 col-sm-4">
                    <a th:href="@{/register}" class="btn btn-default" id = "Register">注册</a>
                </div>
            </div>
        </form>
        <script>
            function login(){
                $("#UserForm").submit();
            }
        </script>
    </div>
</body>

</html>
