<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>任务大厅</title>
    <link rel="stylesheet" th:href="@{/static/css/bpo_list.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">
    <script th:src="@{/static/js/bootstrap.js}"></script>
    <script th:src="@{/static/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/static/js/bpo_list.js}"></script>
</head>
<body>
    <!--背景-->
    <div id="Background">
        <div class = "ImageDiv" id = "ImageDiv0">
            <img th:src="@{/static/images/background7.jpg}" id = "BackgroundImage0" class = "BackgroundImage">
        </div>
    </div>
    <!--头部导航栏-->
    <div th:replace="pages/front/component/nav::navbar(userRoleId=1)"></div>
    <!--页面-->
    <div id = "MainDiv">
        <!--主体-->
        <div class="list-main">
            <!--左侧-->
            <div class="main-left">

<!--                <p id = "message" th:text="${#request.getAttribute('errMessage')}"><br></p>-->
            </div>
            <!--中间-->
            <div class="main-middle">
                <!--列表主体-->
                <!--列表上(发布/搜索)-->
                <div class="searchAndAddNew">
                    <!--搜索-->
                    <div class="search">
                        <input type="text" id="search-text" placeholder="搜索众包项目">
                        <button type="submit" name="search"  id="search-button">搜索</button>
                    </div>
                    <!--发布-->
                    <div class="addNew">
                        <a th:href="@{/addNewProject}" ><button type="button" value="发布" name="addNew" id="addNew">发布新任务</button></a>
                    </div>
                </div>

                <!--列表中(筛选类型/金额/排序)-->
                <div class="filterByTypeAndMoney">
                    <!--筛选类型-->
                    <div class="app-type">
                        <div class="item-left">
                            <ul>
                                <li><a href="#" disabled="true">应用类型：</a></li>
                            </ul>
                        </div>
                        <div class="item-right" id = "ProjectType">
                            <ul>
                                <li><a href="#" class="ItemSelected">不限</a></li>
                                <li><a href="#">视频图像类</a></li>
                                <li><a href="#">虚拟现实类</a></li>
                                <li><a href="#">人工智能类</a></li>
                                <li><a href="#">电商应用类</a></li>
                                <li><a href="#">游戏娱乐类</a></li>
                                <li><a href="#">办公管理类</a></li>
                                <li><a href="#">金融交易类</a></li>
                                <li><a href="#">物联网应用类</a></li>
                                <li><a href="#">工具支持类</a></li>
                                <li><a href="#">底层研发类</a></li>
                                <li><a href="#">嵌入式开发类</a></li>
                                <li><a href="#">视图设计类</a></li>
                                <li><a href="#">其他项目类</a></li>
                            </ul>
                        </div>

                    </div>
                    <!--筛选金额-->
                    <div class="app-money">
                        <div class="item-left">
                            <ul>
                                <li><a href="#" disabled="true">金额范围：</a></li>
                            </ul>
                        </div>
                        <div class="item-right" id = "MoneySelect">
                            <ul>
                                <li><a href="#" class="ItemSelected">不限</a></li>
                                <li><a href="#">5千以下</a></li>
                                <li><a href="#">5千-1万</a></li>
                                <li><a href="#">1万-5万</a></li>
                                <li><a href="#">5万-10万</a></li>
                                <li><a href="#">10万-50万</a></li>
                                <li><a href="#">50万以上</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--列表下(项目list)-->
                <div class="project-list" id="project_list">
                </div>
            </div >
            <!--右侧-->
            <div>

            </div>
        </div>
    </div>
</body>
</html>
