<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/ViewProject.css}">
    <script th:src="@{/static/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/static/js/bootstrap.js}"></script>
    <title>查看项目详情</title>
</head>

<body id = "body">
    <div th:replace="pages/front/component/nav::navbar(userRoleId=2)"></div>
    <div class="container" id = "Content">
        <div id = "main">
            <form name="competitiveForm" th:action="@{/pages/front/redirectToCompetitiveOrListPage}">
                <input type="hidden" name="projectId" th:value="${projectInList.getProjectId()}" style="display: none">
                <div class="AreaDiv">
                    <p class = "AreaTitle">选择项目类型</p>
                    <div id = "SelectType">
                        <p id="project_type" th:text="${projectInList.getProjectType()}"></p>
                    </div>
                </div>
                <div class="AreaDiv">
                    <p class = "AreaTitle">*需支持/适配的客户端（支持多选）</p>
                    <div class = "ClientSupport">
                        <div class = "ClientSupportDiv"><p id="equipments" th:text="${projectInList.getEquipmentName()}"></p></div>

                    </div>
                </div>
                <div class="AreaDiv">
                    <p class = "AreaTitle">*项目名称</p>
                    <p class="ProjectName" id="ProjectName" th:text="${projectInList.getProjectName()}"></p>
                </div>
                <div class="AreaDiv">
                    <p class = "AreaTitle">*需求描述</p>
                    <p class = "ProjectRequirement" id="ProjectRequirement" th:text="${projectInList.getProjectRequirement()}"></p>
                </div>
                <div class="AreaDiv" id = "SkillDiv">
                    <p class = "AreaTitle">*技能要求</p>
                    <p class = "SkillsRequirement" id="SkillsRequirement" th:text="${projectInList.getSkillsRequirement()}"></p>
                </div>
                <div class="AreaDiv">
                    <p class = "AreaTitle">*工期与预算</p>
                    <div id = "BudgetPeriod">
                        <div class="Budget">
                            <p>预计金额: </p>
                            <p id="budget" th:text="${projectInList.getProjectBudget()}"></p>
                        </div>
                        <div class="Period">
                            <p>预计工期: </p>
                            <p id="Period" th:text="${projectInList.getProjectPeriod()}"></p>
                        </div>
                    </div>
                </div>
                <div class="AreaDiv">
                    <p class = "AreaTitle">*联系方式</p>
                    <div class = "Connection">
                        <div class="ConnectName">
                            <p>联系人: </p>
                            <p id="Connection" th:text="${projectInList.getConnectName()}"></p>
                        </div>
                        <div class="ConnectTel">
                            <p>联系电话: </p>
                            <p id="ConnectTel" th:text="${projectInList.getConnectTel()}"></p>
                        </div>
                    </div>
                </div>
                <div id = "SubmitButton">
                    <button class="btn btn-block" name="competitive" th:value="${projectInList.getProjectId()}" onclick="return competitive()">竞标项目</button>
                    <button class="btn btn-block btn-return" name="competitive" value="0" onclick="return competitive()">返回</button>
                </div>
            </form>
        </div>
        <script>
            function competitive(){
                this.competitiveForm.submit();
            }
        </script>
        <div id = "advert">
            <div class="AdvertDiv"><a href = "#"><img th:src="@{/static/images/ad1.jpg}"></a></div>
            <div class="AdvertDiv"><a href = "#"><img th:src="@{/static/images/ad2.jpg}"></a></div>
            <div class="AdvertDiv"><a href = "#"><img th:src="@{/static/images/ad3.jpg}"></a></div>
            <div class="AdvertDiv"><a href = "#"><img th:src="@{/static/images/ad4.jpg}"></a></div>
        </div>
    </div>
    <div th:replace="pages/front/component/footer::footer"></div>
</body>

</html>
