<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/BiddingScheme.css}">
    <script th:src="@{/static/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/static/js/bootstrap.js}"></script>
    <script th:src="@{/static/js/BiddingScheme.js}"></script>
    <title>已发布项目竞标集合</title>
</head>

<body id = "body">
    <div th:replace="pages/front/component/nav::navbar(userRoleId=${session.userRoleId})"></div>
    <div id="top-panel">
        <div class="container">
            <div class="top-panel-container" id="top_panel_container">
                <div class = "top-up-panel">
                    <div class = "top-left-panel">
                        <ul class="breadcrumb">
                            <li><a href="#">工作台</a></li>
                            <li class="active">项目</li>
                        </ul>
                        <p class = "ProjectTitle">服务外包网站编写</p>
                        <div class="project-tips">
                            <span class = "project-tip">电商应用类</span>
                            <span class="split">|</span>
                            <span class = "project-tip">发布于 2020-11-10</span>
                            <span class="split">|</span>
                            <span class = "project-tip">竞标要求：不限地域&nbsp;</span>
                            <span class="split">|</span>
                            <span class = "project-tip">公开项目</span>
                        </div>
                    </div>
                    <div class = "top-right-panel">
                        <p class = "ProjectState">已关闭</p>
                        <p class = "ProjectMoney">￥可议价</p>
                        <p class = "PorojectDDL">希望在 <span>31</span> 天内完成</p>
                    </div>
                </div>
                <div class="top-down-panel">
                    <ul class = "operate-list">
                        <li><a href="#"><span>竞标</span></a></li>
                        <li><a href="#"><span>详情</span></a></li>
                        <li><a href="#"><span>修改</span></a></li>
                        <li><a href="#"><span>取消</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id = "content">
            <div class = "SchemeItem">
                <div class = "SchemeItemState">
                    竞标中
                </div>
                <div class="SchemeItemIcon">
                    <div class="SchemeItemIconAvatar">
                        <a href="#">
                            <img th:src="@{/static/images/avatar_default.gif}">
                        </a>
                    </div>
                    <p class="ShcemeItemGrade">服务评价: <span>4.6</span></p>
                </div>
                <div class="SchemeItemPerson">
                    <p class = "PersonName">崛帆智能</p>
                    <p class = "PseronInfo">
                        <span>上海-上海市</span> |
                        <span>企业</span> |
                        <span>手机 15000836578</span> |
                        <span>已完成 <span class = "ProjectNum">0</span> 个项目</span>
                    </p>
                    <p class = "PersonSkills">
                        <span>WebLogic</span>
                        <span>桌面应用</span>
                        <span>C++</span>
                        <span>Framework</span>
                        <a>查看更多</a>
                    </p>
                    <p class = "SchemeTime">
                        竞标时间: <span>2020-11-13 11:18</span>
                    </p>
                </div>
                <div class = "SchemeItemProject">
                    <div class="SchemeItemBudgetTime">
                        <div class = "ProjectInfo">
                            <p>￥10000</p>
                            <span>报价 ( 元 ) </span>
                        </div>
                        <div class = "ProjectInfo">
                            <p>30</p>
                            <span>工期 ( 天 ) </span>
                        </div>
                    </div>
                    <a href = "#"><button class="btn MoreInfo">查看详情</button></a>
                </div>
            </div>

            <div class = "SchemeItem RejectedItem">
                <div class = "SchemeItemState">
                    已拒绝
                </div>
                <div class="SchemeItemIcon">
                    <div class="SchemeItemIconAvatar">
                        <a href="#">
                            <img th:src="@{/static/images/avatar_default.gif}">
                        </a>
                    </div>
                    <p class="ShcemeItemGrade">服务评价: <span>4.6</span></p>
                </div>
                <div class="SchemeItemPerson">
                    <p class = "PersonName">崛帆智能</p>
                    <p class = "PseronInfo">
                        <span>手机 15000836578</span> |
                        <span>已完成 <span class = "ProjectNum">0</span> 个项目</span>
                    </p>
                    <p class = "PersonSkills">
                        <span>WebLogic</span>
                        <span>桌面应用</span>
                        <span>C++</span>
                        <span>Framework</span>
                        <a>查看更多</a>
                    </p>
                    <p class = "SchemeTime">
                        竞标时间: <span>2020-11-13 11:18</span>
                    </p>
                </div>
                <div class = "SchemeItemProject">
                    <div class="SchemeItemBudgetTime">
                        <div class = "ProjectInfo">
                            <p>￥10000</p>
                            <span>报价 ( 元 ) </span>
                        </div>
                        <div class = "ProjectInfo">
                            <p>30</p>
                            <span>工期 ( 天 ) </span>
                        </div>
                    </div>
                    <button class="btn MoreInfo">查看详情</button>
                </div>
            </div>

            <div class = "SchemeItem">
                <div class = "SchemeItemState">
                    竞标中
                </div>
                <div class="SchemeItemIcon">
                    <div class="SchemeItemIconAvatar">
                        <a href="#">
                            <img th:src="@{/static/images/avatar_default.gif}">
                        </a>
                    </div>
                    <p class="ShcemeItemGrade">服务评价: <span>4.6</span></p>
                </div>
                <div class="SchemeItemPerson">
                    <p class = "PersonName">崛帆智能</p>
                    <p class = "PseronInfo">
                        <span>上海-上海市</span> |
                        <span>企业</span> |
                        <span>手机 15000836578</span> |
                        <span>已完成 <span class = "ProjectNum">0</span> 个项目</span>
                    </p>
                    <p class = "PersonSkills">
                        <span>WebLogic</span>
                        <span>桌面应用</span>
                        <span>C++</span>
                        <span>Framework</span>
                        <a>查看更多</a>
                    </p>
                    <p class = "SchemeTime">
                        竞标时间: <span>2020-11-13 11:18</span>
                    </p>
                </div>
                <div class = "SchemeItemProject">
                    <div class="SchemeItemBudgetTime">
                        <div class = "ProjectInfo">
                            <p>￥10000</p>
                            <span>报价 ( 元 ) </span>
                        </div>
                        <div class = "ProjectInfo">
                            <p>30</p>
                            <span>工期 ( 天 ) </span>
                        </div>
                    </div>
                    <a href = "#"><button class="btn MoreInfo">查看详情</button></a>
                </div>
            </div>

            <div class = "SchemeItem RejectedItem">
                <div class = "SchemeItemState">
                    已拒绝
                </div>
                <div class="SchemeItemIcon">
                    <div class="SchemeItemIconAvatar">
                        <a href="#">
                            <img th:src="@{/static/images/avatar_default.gif}">
                        </a>
                    </div>
                    <p class="ShcemeItemGrade">服务评价: <span>4.6</span></p>
                </div>
                <div class="SchemeItemPerson">
                    <p class = "PersonName">崛帆智能</p>
                    <p class = "PseronInfo">
                        <span>上海-上海市</span> |
                        <span>企业</span> |
                        <span>手机 15000836578</span> |
                        <span>已完成 <span class = "ProjectNum">0</span> 个项目</span>
                    </p>
                    <p class = "PersonSkills">
                        <span>WebLogic</span>
                        <span>桌面应用</span>
                        <span>C++</span>
                        <span>Framework</span>
                        <a>查看更多</a>
                    </p>
                    <p class = "SchemeTime">
                        竞标时间: <span>2020-11-13 11:18</span>
                    </p>
                </div>
                <div class = "SchemeItemProject">
                    <div class="SchemeItemBudgetTime">
                        <div class = "ProjectInfo">
                            <p>￥10000</p>
                            <span>报价 ( 元 ) </span>
                        </div>
                        <div class = "ProjectInfo">
                            <p>30</p>
                            <span>工期 ( 天 ) </span>
                        </div>
                    </div>
                    <button class="btn MoreInfo" data-toggle="modal" data-target="#myModal">查看详情</button>
                    <!-- 模态框（Modal） -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
                                </div>
                                <div class="modal-body">在这里添加一些文本</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary">提交更改</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>
            </div>
        </div>
        <ul class="pagination" id = "TurnPage">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
    <div th:replace="pages/front/component/footer::footer"></div>
</body>

</html>
