<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/EmployerProject.css}">
    <script th:src="@{/static/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/static/js/bootstrap.js}"></script>
    <script th:src="@{/static/js/EmployerProject.js}"></script>
    <title>已发布项目页</title>
</head>

<body>
    <div th:replace="pages/front/component/nav::navbar(userRoleId=${session.userRoleId})"></div>
    <div class="container" style="display: flex;">

        <div th:replace="pages/front/component/EmployerDeskSideBar.html::DeskSideBar(Content='项目')"></div>
        <div id = "detail">
            <div class = "DetailHeader">
                <div class="title">我的项目</div>
            </div>
            <div class="content" id="content">
    <!--                <div class = "SchemeItem">-->
    <!--                    <div class = "SchemeItemState" id="projectStatus">-->
    <!--                        待审核-->
    <!--                    </div>-->
    <!--                    <div class="SchemeItemIcon">-->
    <!--                        <div class="SchemeItemIconAvatar">-->
    <!--                            <a href="#">-->
    <!--                                <img th:src="@{/static/images/avatar_default.gif}">-->
    <!--                            </a>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="SchemeItemPerson">-->
    <!--                        <p class = "PersonName"><a href="#" style="text-decoration: none;color: black">服务外包网站编写</a></p>-->
    <!--                        <p class = "SchemeTime">-->
    <!--                            发布时间: <span>2020-11-13 11:18</span>-->
    <!--                        </p>-->
    <!--                    </div>-->
    <!--                    <div class = "SchemeItemProject">-->
    <!--                        <div class="SchemeItemBudgetTime">-->
    <!--                            <div class = "ProjectInfo">-->
    <!--                                <p>￥10000</p>-->
    <!--                                <span>报价 ( 元 ) </span>-->
    <!--                            </div>-->
    <!--                            <div class = "ProjectInfo">-->
    <!--                                <p>30</p>-->
    <!--                                <span>工期 ( 天 ) </span>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        <button class="btn MoreInfo">查看详情</button>-->
    <!--                    </div>-->
    <!--                </div>-->

            </div>
        </div>

    </div>
    <div th:replace="pages/front/component/footer::footer"></div>
</body>

</html>
