<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/EmployeeBill.css}">
    <script th:src="@{/static/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/static/js/bootstrap.js}"></script>
    <title>我的账单</title>
</head>

<body>
    <div th:replace="pages/front/component/nav::navbar(userRoleId=${session.userRoleId})"></div>
    <div class="container" style="display: flex;">
        <div th:replace="pages/front/component/EmployerDeskSideBar.html::DeskSideBar(Content='账单')"></div>
        <div id = "detail">
            <div class = "DetailHeader" style="justify-content: space-between;">
                <div class="title">我的账单</div>
                <div class="title" style="font-weight: 600;">账户余额：￥<span th:text="${#numbers.formatDecimal(session.user.money,1,'COMMA',2,'POINT')}">100000</span></div>
            </div>
            <div class="content">
                <table class = "table table-hover BillTable">
                    <caption>账单明细</caption>
                    <tbody>
                        <thead>
                            <th>时间</th>
                            <th>交易类型</th>
                            <th>业务描述</th>
                            <th>金额（元）</th>
                        </thead>
                        <tr th:each="bill:${bills}">
                            <td th:text="${#dates.format(bill.billTime,'yyyy-MM-dd HH:mm:ss')}">2020-11-16 20:34:15</td>
                            <td th:text="${bill.billType}">缴纳定金</td>
                            <td th:text="${bill.billDescription}">支付项目"服务外包网站编写"承包方保证金</td>
                            <td th:text="${#numbers.formatDecimal(bill.billValue,1,'COMMA',2,'POINT')}">1000.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
<!--            <ul class="pagination" id = "TurnPage">-->
<!--                <li><a href="#">&laquo;</a></li>-->
<!--                <li class="active"><a href="#">1</a></li>-->
<!--                <li><a href="#">2</a></li>-->
<!--                <li><a href="#">3</a></li>-->
<!--                <li><a href="#">4</a></li>-->
<!--                <li><a href="#">5</a></li>-->
<!--                <li><a href="#">&raquo;</a></li>-->
<!--            </ul>-->
        </div>
    </div>
    <div th:replace="pages/front/component/footer::footer"></div>
</body>

</html>