<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/ShowScheme.css}">
    <script th:src="@{/static/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/static/js/bootstrap.js}"></script>
    <script th:src="@{/static/js/ShowScheme.js}"></script>
    <title>竞标方案详细展示</title>
</head>
<body id = "body">
    <div th:replace="pages/front/component/nav::navbar(userRoleId=${session.userRoleId})"></div>
    <div class="container" id = "Content">
        <div id = "main">
            <p style="font-size: 25px; font-weight: 600;" id="projectName">竞标的项目的名称</p>
            <div class="AreaDiv">
                <p class = "AreaTitle">*工期与预算</p>
                <div id = "BudgetPeriod">
                    <p id = "Period">工期：<span>31天</span></p>
                    <p id = "Budget">预算金额：￥<span>5000</span></p>
                </div>
            </div>
            <dic class="AreaDiv">
                <div class="AreaTitle">*竞标优势</div>
                <p class = "Text">
                    sss
                </p>
            </dic>
            <dic class="AreaDiv">
                <div class="AreaTitle">*竞标案例</div>
                <p class = "Text">
                    54681651
                </p>
            </dic>
            <div class="AreaDiv">
                <p class = "AreaTitle">*联系方式</p>
                <div style="display: flex;">
                    <p style="flex:1; margin-right: 20px;">联系人: <span>jmh</span></p>
                    <p style="flex:1; margin-left: 20px;">电话: <span>54125478451</span></p>
                </div>
            </div>
            <div id = "SubmitButton">
                <button class="btn btn-primary btn-block">确定选择该竞标方案</button>
                <button class="btn btn-primary btn-block ReturnPage">返回</button>
            </div>
        </div>
        <div id = "advert">
            <div class="AdvertDiv"><a href = "#"><img th:src="@{/static/images/ad1.jpg}"></a></div>
            <div class="AdvertDiv"><a href = "#"><img th:src="@{/static/images/ad2.jpg}"></a></div>
            <div class="AdvertDiv"><a href = "#"><img th:src="@{/static/images/ad3.jpg}"></a></div>
            <div class="AdvertDiv"><a href = "#"><img th:src="@{/static/images/ad4.jpg}"></a></div>
        </div>
    </div>
    <div th:replace="pages/front/component/footer::footer"></div>
</body>
